<div class="row">
  <div class="col-2 px-2">
    <span class="font-weight-bold">Date début chemin</span>
  </div>
  <div class="col-3 px-0">
    <span class="font-weight-bold">Equipe associée</span>
  </div>
  <div class="col-5">
    <span class="font-weight-bold">Nom chemin</span>
  </div>
  <div class="col-1 px-0">
    <span class="font-weight-bold">Durée</span>
  </div>
  <div class="col-1 px-0">
    <span class="font-weight-bold">Apprenants</span>
  </div>
</div>
