<h1 class="m-4">Bienvenue sur Albus, veuillez vous connecter</h1>
<div class="row justify-content-center mb-4">
  <button
    mat-raised-button
    color="primary"
    class="py-1 px-2 m-4"
    (click)="authenticationService.loginAsAdmin('Monica R.')"
  >
    Se connecter en tant que Monica R.
  </button>
  <button
    mat-raised-button
    color="primary"
    class="py-1 px-2 m-4"
    (click)="authenticationService.loginAsAdmin('Jeevan S.')"
  >
    Se connecter en tant que Jeevan S.
  </button>
</div>
<div class="row justify-content-center mt-4">
  <button
    mat-raised-button
    color="primary"
    class="py-1 px-2 m-4"
    (click)="authenticationService.loginAsTrainer('Jacques K.')"
  >
    Se connecter en tant que Jacques K.
  </button>
  <button
    mat-raised-button
    color="primary"
    class="py-1 px-2 m-4"
    (click)="authenticationService.loginAsTrainer('Laurent C.')"
  >
    Se connecter en tant que Laurent C.
  </button>
  <button
    mat-raised-button
    color="primary"
    class="py-1 px-2 m-4"
    (click)="authenticationService.loginAsTrainer('Sergio F.')"
  >
    Se connecter en tant que Sergio F.
  </button>
  <button
    mat-raised-button
    color="primary"
    class="py-1 px-2 m-4"
    (click)="authenticationService.loginAsTrainer('Ilyes B.')"
  >
    Se connecter en tant que Ilyes B.
  </button>
</div>
