<h1 mat-dialog-title>Planifier une formation</h1>
<form [formGroup]="planFormationForm" mat-dialog-content class="my-4" (ngSubmit)="onSubmit()">
  <mat-form-field class="mb-2 w-100">
    <mat-label>Type de formation</mat-label>
    <mat-select formControlName="formationType">
      <mat-option *ngFor="let formation of catalogue" [value]="formation">
        {{ formation }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        !planFormationForm.controls['formationType'].valid &&
        (planFormationForm.controls['formationType'].touched || formSubmitted)
      "
    >
      Veuillez choisir un type de formation
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard" class="mb-2">
    <mat-label>Date de début</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="formationStartDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="mb-2">
    <button mat-raised-button type="button" class="mr-4" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button type="submit" color="primary" cdkFocusInitial>Valider</button>
  </div>
</form>
