<h1 mat-dialog-title>Modifier un module</h1>
<form [formGroup]="editModuleForm" mat-dialog-content class="my-4" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="standard" class="mb-2">
    <mat-label>Formateur</mat-label>
    <mat-select formControlName="trainer">
      <mat-option *ngFor="let trainer of allTrainers" [value]="trainer">
        {{ trainer }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard" class="mb-2">
    <mat-label>Date de début</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="moduleStartDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Détails (salle, véhicule...)</mat-label>
    <textarea matInput formControlName="comment" placeholder="Salle EC209... Véhicule A38"></textarea>
  </mat-form-field>

  <div class="mb-2">
    <button mat-raised-button type="button" class="mr-4" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button type="submit" color="primary" cdkFocusInitial>Valider</button>
  </div>
</form>
