<h1 mat-dialog-title>Gérer les apprenants</h1>
<form [formGroup]="editLearnersForm" mat-dialog-content class="my-4" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let learner of tempLearners" selectable="true" removable="true" (removed)="remove(learner)">
        {{ learner }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Apprenant..."
        #learnerInput
        formControlName="learner"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        matChipInputAddOnBlur="false"
      />
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let learner of filteredLearners$ | async" [value]="learner">
        {{ learner }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <span style="color: red; font-size: 16px" *ngIf="tooManyLearnersError"
    >Vous avez déjà atteint le nombre maximum d'apprenants</span
  >

  <div class="mb-2 mt-4">
    <button mat-raised-button type="button" class="mr-4" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button type="submit" color="primary" cdkFocusInitial>Valider</button>
  </div>
</form>
