<mat-toolbar color="primary">
  <span class="mr-4" style="cursor: pointer" routerLink="/">Albus</span>
  <span style="flex: 1 1 auto"></span>
  <ng-container *ngIf="authenticationService.connectedAs">
    <span *ngIf="authenticationService.connectedAs === 'admin'"
      >{{ authenticationService.currentUserName }} (administrateur)</span
    >
    <span *ngIf="authenticationService.connectedAs === 'trainer'"
      >{{ authenticationService.currentUserName }} (formateur)</span
    >
    <button mat-icon-button (click)="authenticationService.logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
