<div class="row">
  <div class="col-3">
    <app-filters></app-filters>
  </div>
  <div class="col-9">
    <div [ngSwitch]="filtersService.displayMode">
      <div class="mb-4" *ngSwitchCase="'module'">
        <ng-container *ngIf="authenticationService.connectedAs === 'admin'">
          <span class="mr-4 h2">Modules ({{ (adminModulesMock$ | async)?.length }})</span>
          <button mat-raised-button color="primary" class="align-top mt-2 mr-2" (click)="showPlanFormationPopup()">
            Planifier une formation
          </button>
          <button mat-raised-button color="primary" class="align-top mt-2">
            <mat-icon>refresh</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="authenticationService.connectedAs === 'trainer'">
          <ng-container *ngIf="filtersService.onlyMyFormations">
            <span class="mr-4 h2">Modules ({{ (mockModulesForOnlyGivenTrainerForToday$ | async)?.length }})</span>
            <button mat-raised-button color="primary" class="align-top mt-2">
              <mat-icon>refresh</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!filtersService.onlyMyFormations">
            <span class="mr-4 h2">Modules ({{ (mockUnattributedModulesForToday$ | async)?.length }})</span>
            <button mat-raised-button color="primary" class="align-top mt-2">
              <mat-icon>refresh</mat-icon>
            </button>
          </ng-container>
        </ng-container>
      </div>

      <div class="mb-4" *ngSwitchCase="'parcours'">
        <ng-container *ngIf="authenticationService.connectedAs === 'admin'">
          <span class="mr-4 h2">Parcours ({{ (adminParcoursMock$ | async)?.length }})</span>
          <button mat-raised-button color="primary" class="align-top mt-2 mr-2" (click)="showPlanFormationPopup()">
            Planifier une formation
          </button>
          <button mat-raised-button color="primary" class="align-top mt-2">
            <mat-icon>refresh</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="authenticationService.connectedAs === 'trainer'">
          <ng-container *ngIf="filtersService.onlyMyFormations">
            <span class="mr-4 h2">Parcours ({{ (mockParcoursForOnlyGivenTrainerForTwoWeeks$ | async)?.length }})</span>
            <button mat-raised-button color="primary" class="align-top mt-2">
              <mat-icon>refresh</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!filtersService.onlyMyFormations">
            <span class="mr-4 h2">Parcours ({{ (mockUnattributedParcoursForTwoWeeks$ | async)?.length }})</span>
            <button mat-raised-button color="primary" class="align-top mt-2">
              <mat-icon>refresh</mat-icon>
            </button>
          </ng-container>
        </ng-container>
      </div>

      <div class="mb-4" *ngSwitchCase="'chemin'">
        <ng-container *ngIf="authenticationService.connectedAs === 'admin'">
          <span class="mr-4 h2">Chemins ({{ (adminCheminsMock$ | async)?.length }})</span>
          <button mat-raised-button color="primary" class="align-top mt-2 mr-2" (click)="showPlanFormationPopup()">
            Planifier une formation
          </button>
          <button mat-raised-button color="primary" class="align-top mt-2">
            <mat-icon>refresh</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="authenticationService.connectedAs === 'trainer'">
          <ng-container *ngIf="filtersService.onlyMyFormations">
            <span class="mr-4 h2">Chemins ({{ (mockCheminsForOnlyGivenTrainerForOneMonth$ | async)?.length }})</span>
            <button mat-raised-button color="primary" class="align-top mt-2">
              <mat-icon>refresh</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!filtersService.onlyMyFormations">
            <span class="mr-4 h2">Chemins ({{ (mockUnattributedCheminsForOneMonth$ | async)?.length }})</span>
            <button mat-raised-button color="primary" class="align-top mt-2">
              <mat-icon>refresh</mat-icon>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div *ngIf="filtersService.displayMode === 'module'">
      <ng-container *ngIf="authenticationService.connectedAs === 'admin'">
        <app-module-header class="mb-2"></app-module-header>
        <div *ngFor="let element of adminModulesMock$ | async; let i = index" class="my-2">
          <app-module [indexNumber]="i + 1" [module]="element"></app-module>
        </div>
      </ng-container>
      <ng-container *ngIf="authenticationService.connectedAs === 'trainer'">
        <ng-container *ngIf="filtersService.onlyMyFormations">
          <app-module-header class="mb-2"></app-module-header>
          <div *ngFor="let element of mockModulesForOnlyGivenTrainerForToday$ | async; let i = index" class="my-2">
            <app-module [indexNumber]="i + 1" [module]="element"></app-module>
          </div>
        </ng-container>
        <ng-container *ngIf="!filtersService.onlyMyFormations">
          <app-module-header class="mb-2"></app-module-header>
          <div *ngFor="let element of mockUnattributedModulesForToday$ | async; let i = index" class="my-2">
            <app-module [indexNumber]="i + 1" [module]="element"></app-module>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="filtersService.displayMode === 'parcours'">
      <ng-container *ngIf="authenticationService.connectedAs === 'admin'">
        <app-parcours-header class="mb-2"></app-parcours-header>
        <div *ngFor="let element of adminParcoursMock$ | async; let i = index" class="my-2">
          <app-parcours [indexNumber]="i + 1" [parcours]="element"></app-parcours>
        </div>
      </ng-container>
      <ng-container *ngIf="authenticationService.connectedAs === 'trainer'">
        <ng-container *ngIf="filtersService.onlyMyFormations">
          <app-parcours-header class="mb-2"></app-parcours-header>
          <div *ngFor="let element of mockParcoursForOnlyGivenTrainerForTwoWeeks$ | async; let i = index" class="my-2">
            <app-parcours [indexNumber]="i + 1" [parcours]="element"></app-parcours>
          </div>
        </ng-container>
        <ng-container *ngIf="!filtersService.onlyMyFormations">
          <app-parcours-header class="mb-2"></app-parcours-header>
          <div *ngFor="let element of mockUnattributedParcoursForTwoWeeks$ | async; let i = index" class="my-2">
            <app-parcours [indexNumber]="i + 1" [parcours]="element"></app-parcours>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="filtersService.displayMode === 'chemin'">
      <ng-container *ngIf="authenticationService.connectedAs === 'admin'">
        <app-chemin-header class="mb-2"></app-chemin-header>
        <div *ngFor="let element of adminCheminsMock$ | async; let i = index" class="my-2">
          <app-chemin [indexNumber]="i + 1" [chemin]="element"></app-chemin>
        </div>
      </ng-container>
      <ng-container *ngIf="authenticationService.connectedAs === 'trainer'">
        <ng-container *ngIf="filtersService.onlyMyFormations">
          <app-chemin-header class="mb-2"></app-chemin-header>
          <div *ngFor="let element of mockCheminsForOnlyGivenTrainerForOneMonth$ | async; let i = index" class="my-2">
            <app-chemin [indexNumber]="i + 1" [chemin]="element"></app-chemin>
          </div>
        </ng-container>
        <ng-container *ngIf="!filtersService.onlyMyFormations">
          <app-chemin-header class="mb-2"></app-chemin-header>
          <div *ngFor="let element of mockUnattributedCheminsForOneMonth$ | async; let i = index" class="my-2">
            <app-chemin [indexNumber]="i + 1" [chemin]="element"></app-chemin>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
