<div class="my-2">
  <button
    mat-raised-button
    [color]="filtersService.computeTodayFilterColor()"
    (click)="filtersService.setDisplayModeModule()"
    class="py-1 px-2 mr-2"
  >
    Aujourd'hui
  </button>
  <button
    mat-raised-button
    [color]="filtersService.computeTwoWeeksFilterColor()"
    (click)="filtersService.setDisplayModeParcours()"
    class="py-1 px-2 mr-2"
  >
    2 semaines
  </button>
  <button
    mat-raised-button
    [color]="filtersService.computeMonthFilterColor()"
    (click)="filtersService.setDisplayModeChemin()"
    class="py-1 px-2 mr-2"
  >
    1 mois
  </button>
  <!-- <button mat-raised-button disabled="true" class="py-1 px-2 mr-2">
    <mat-icon>calendar_today</mat-icon>
  </button> -->
</div>

<div class="my-2">
  <button mat-raised-button color="accent" class="py-1 px-2 mr-2">Dates personnalisées</button>
</div>

<div class="my-4">
  <button mat-raised-button [color]="filtersService.computeCheminColor()" class="py-1 px-2 mr-2">Chemin</button>
  <button mat-raised-button [color]="filtersService.computeParcoursColor()" class="py-1 px-2 mr-2">Parcours</button>
  <button mat-raised-button [color]="filtersService.computeModuleColor()" class="py-1 px-2">Module</button>
</div>

<div class="my-2" *ngIf="authenticationService.connectedAs === 'trainer'">
  <button
    mat-raised-button
    [color]="filtersService.computeOnlyMyFormationsFilterColor()"
    (click)="filtersService.setTrainerDisplayModeOnlyMyFormations(true)"
    class="py-1 px-2 mr-2"
  >
    Moi
  </button>
  <button
    mat-raised-button
    [color]="filtersService.computeUnattributedFormationsFilterColor()"
    (click)="filtersService.setTrainerDisplayModeOnlyMyFormations(false)"
    class="py-1 px-2 mr-2"
  >
    Non attribuées
  </button>
</div>

<h2>Alertes</h2>

<section>
  <div>
    <mat-checkbox color="primary">Formateur</mat-checkbox>
  </div>
  <div>
    <mat-checkbox color="primary">Remplissage</mat-checkbox>
  </div>
  <div>
    <mat-checkbox color="primary">Capacité</mat-checkbox>
  </div>
</section>

<h2>Filtres</h2>

<div class="h6 mb-4">Types de formations</div>
<section>
  <div>
    <mat-checkbox checked="true" color="primary">Conducteur professionnel AB</mat-checkbox>
  </div>
  <div>
    <mat-checkbox color="primary">Conducteur professionnel TB</mat-checkbox>
  </div>
  <div>
    <mat-checkbox color="primary">Conducteur professionnel TW</mat-checkbox>
  </div>
  <div>
    <mat-checkbox color="primary">Contrôleur de titres de transports</mat-checkbox>
  </div>
  <div>
    <mat-checkbox color="primary">OACP</mat-checkbox>
  </div>
  <div>
    <mat-checkbox color="primary">Opérateur véhicule autonome</mat-checkbox>
  </div>
</section>

<div class="h6 my-4">Apprenant</div>

<mat-form-field>
  <input
    type="text"
    placeholder="Apprenant..."
    matInput
    [matAutocomplete]="studentsNamesAutocomplete"
    [(ngModel)]="studentsInputValue"
    (ngModelChange)="filterStudentsNames()"
  />
  <mat-autocomplete autoActiveFirstOption #studentsNamesAutocomplete="matAutocomplete">
    <mat-option *ngFor="let option of filteredStudentsNames$ | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<ng-container *ngIf="authenticationService.connectedAs === 'admin'">
  <div class="h6 my-4">Formateur</div>

  <mat-form-field>
    <input
      type="text"
      placeholder="Formateur..."
      matInput
      [matAutocomplete]="trainersNamesAutocomplete"
      [(ngModel)]="trainersInputValue"
      (ngModelChange)="filterTrainersNames()"
    />
    <mat-autocomplete autoActiveFirstOption #trainersNamesAutocomplete="matAutocomplete">
      <mat-option *ngFor="let option of filteredTrainersNames$ | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-container>

<div class="my-2" *ngIf="authenticationService.connectedAs === 'trainer'">
  <img class="mb-2" src="../../assets/fakeDispo.png" alt="image" />
  <img src="../../assets/fakeSkills.png" alt="image" />
</div>
