<mat-card class="bg-light px-2 py-0 formation-container" (click)="navigateToFormationDetails()">
  <div class="row">
    <div class="col-2 px-2">
      <mat-icon class="mr-2">calendar_today</mat-icon>
      <span>{{ module.startDate | date: 'dd.MM.yyyy' }}</span>
    </div>
    <div class="col-3 overflow-hidden text-truncate text-nowrap px-0">
      <mat-icon class="mr-2">label</mat-icon>
      <span>{{ associatedChemin.teamName }}</span>
    </div>
    <div class="col-3 overflow-hidden text-truncate text-nowrap">
      <mat-icon class="mr-2">menu_book</mat-icon>
      <span>{{ module.name }}</span>
    </div>
    <div class="col-1 px-0">
      <mat-icon class="mr-2">hourglass_bottom</mat-icon>
      <span *ngIf="module.isDurationHours">{{ module.duration }} h</span>
      <span *ngIf="!module.isDurationHours">{{ module.duration }} j</span>
    </div>
    <div class="col-2 overflow-hidden text-truncate text-nowrap px-0">
      <mat-icon class="mr-2">person</mat-icon>
      <span>{{ module.trainer }}</span>
    </div>
    <div class="col-1 px-0">
      <span [matTooltip]="tooltipText" matTooltipClass="allow-cr">
        <mat-icon class="mr-2">school</mat-icon>
        {{ associatedChemin.learners.length }}/{{ associatedChemin.maxLearners }}
      </span>
    </div>
  </div>
</mat-card>
