<div class="container" *ngIf="!chemin">
  <div class="row justify-content-center">
    <h1>Ce chemin n'existe pas, veuillez retourner à la page d'accueil</h1>
    <button mat-raised-button color="primary" class="py-1 px-2 m-4" (click)="goToHomePage()">
      Retourner à la page d'accueil
    </button>
  </div>
</div>

<div class="container-fluid" *ngIf="chemin">
  <div class="row">
    <button mat-raised-button color="primary" class="py-1 px-2 m-4" (click)="goToHomePage()">Retour</button>
    <h1 class="mt-4">Détail modules et parcours</h1>
  </div>
  <div class="row">
    <div class="col-3">
      <mat-card class="bg-light px-2 py-0 mt-4 pb-2">
        <h1>Infos générales</h1>
        <div class="my-2"><mat-icon class="mr-2">menu_book</mat-icon>{{ chemin.name }}</div>
        <div class="my-2"><mat-icon class="mr-2">label</mat-icon>{{ chemin.teamName }}</div>
        <div class="my-2">
          <mat-icon class="mr-2">calendar_today</mat-icon>{{ chemin.startDate | date: 'dd.MM.yyyy' }}
        </div>
        <div class="my-2"><mat-icon class="mr-2">hourglass_bottom</mat-icon>56 j</div>
        <div class="my-2 h3"><mat-icon class="mr-2">person</mat-icon>Formateurs impliqués</div>
        <div *ngFor="let trainer of trainersList">
          {{ trainer }}
        </div>
        <div class="my-2 h3">
          <mat-icon class="mr-2">school</mat-icon>
          <span>Apprenants inscrits {{ chemin.learners.length }}/{{ chemin.maxLearners }}</span>
          <button
            *ngIf="authenticationService.connectedAs === 'admin'"
            class="float-right"
            mat-mini-fab
            color="primary"
            (click)="showEditLearnersDialog(chemin)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div *ngFor="let learner of chemin.learners">
          <span>{{ learner }}</span>
        </div>
      </mat-card>
    </div>
    <div class="col-9">
      <!-- <button mat-raised-button color="primary" class="py-1 px-2 m-4">Cours</button>
      <button mat-raised-button color="accent" class="py-1 px-2 m-4">Examens</button> -->
      <mat-card class="bg-light px-2 py-2 my-4" *ngFor="let parcours of chemin.parcoursList">
        <div class="my-2 h3"><mat-icon class="mr-2">book</mat-icon>{{ parcours.name }}</div>
        <div class="bg-light px-2 py-0 mt-4" *ngFor="let module of parcours.modulesList">
          <div class="row">
            <div class="col-2 overflow-hidden text-truncate text-nowrap might-overflow">
              <mat-icon class="mr-2">calendar_today</mat-icon>
              <span>{{ module.startDate | date: 'dd.MM.yyyy' }}</span>
            </div>
            <div class="col-3 overflow-hidden text-truncate text-nowrap might-overflow">
              <mat-icon class="mr-2">menu_book</mat-icon>
              <span>{{ module.name }}</span>
            </div>
            <div class="col-2">
              <mat-icon class="mr-2">hourglass_bottom</mat-icon>
              <span *ngIf="module.isDurationHours">{{ module.duration }} h</span>
              <span *ngIf="!module.isDurationHours">{{ module.duration }} j</span>
            </div>
            <div class="col-2 px-0 overflow-hidden text-truncate text-nowrap might-overflow">
              <mat-icon class="mr-2">person</mat-icon>
              <span>{{ module.trainer }}</span>
            </div>
            <div class="col-2 overflow-hidden text-truncate text-nowrap might-overflow">
              <mat-icon class="mr-2">comment_blank</mat-icon>
              <span>{{ module.comment }}</span>
            </div>
            <div class="col">
              <button mat-mini-fab color="primary" class="float-right" (click)="showEditModuleDialog(module)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <ng-container *ngIf="parcours.hasExam">
          <div class="my-2 h3"><mat-icon class="mr-2">star</mat-icon>Examens</div>
          <div class="bg-light px-2 py-0 mt-4" *ngFor="let exam of parcours.exams">
            <div class="row">
              <!-- <div class="col-3 overflow-hidden text-truncate text-nowrap might-overflow">
              <mat-icon class="mr-2">menu_book</mat-icon>
              <span>{{ module.name }}</span>
            </div> -->
              <div class="col-3">
                <mat-icon class="mr-2">calendar_today</mat-icon>
                <span>{{ exam.examDate | date: 'dd.MM.yyyy' }}</span>
              </div>
              <div class="col-3">
                <mat-icon class="mr-2">school</mat-icon>
                <span>{{ exam.learnerName }}</span>
              </div>
              <div class="col-3">
                <mat-icon class="mr-2">how_to_reg</mat-icon>
                <span>{{ exam.reviewer }}</span>
              </div>
              <!-- <div class="col-2">
              <mat-icon class="mr-2">comment_blank</mat-icon>
              <span>{{ module.comment }}</span>
            </div> -->
              <div *ngIf="authenticationService.connectedAs === 'admin'">
                <button
                  mat-mini-fab
                  color="primary"
                  class="float-right"
                  (click)="showEditExamDialog(parcours.id, false, exam, parcours.name)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>
