<h1 mat-dialog-title>Modifier un examen</h1>
<form [formGroup]="editExamForm" mat-dialog-content class="my-4" (ngSubmit)="onSubmit()">
  <div class="mb-2">
    Apprenant <strong>{{ data.exam.learnerName }}</strong>
  </div>
  <div class="mb-2">
    Examen pour <strong>{{ data.examName }}</strong>
  </div>

  <mat-form-field appearance="standard" class="mb-2">
    <mat-label>Date de l'examen</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="examDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="w-100 mb-2">
    <mat-label>Examinateur</mat-label>
    <input matInput formControlName="reviewer" placeholder="Bureau des autos..." />
  </mat-form-field>

  <div class="mb-2">
    <button mat-raised-button type="button" class="mr-4" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button type="submit" color="primary" cdkFocusInitial>Valider</button>
  </div>
</form>
