/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.allow-cr {
  white-space: pre;
  font-size: 18px;
}

.tpg-webshop {
  background-color: #fd5312;
}
