<div class="container" *ngIf="!authenticationService.connectedAs">
  <app-login></app-login>
</div>

<div class="container-fluid" *ngIf="authenticationService.connectedAs">
  <app-planning></app-planning>
</div>
