:host ::ng-deep .right-button {
  position: absolute;
  right: 10px;
  top: 5px;
}

::ng-deep .formation-container {
  cursor: pointer;
  &:hover {
    background-color: #fd5312 !important;
    color: white;
    // -webkit-transform: scale(1.05);
    // transform: scale(1.05);
  }
}
